@model RootObject

@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script>

        var randomColorGenerator = function () {
            return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
        }

        const data = {
            labels: @Html.Raw(Json.Serialize(ViewBag.lang)),
            datasets: [
                {
                    label: 'XP',
                    data: @Html.Raw(Json.Serialize(ViewBag.xp)),
                    backgroundColor: ["#0074D9", "#FF4136", "#2ECC40", "#FF851B", "#7FDBFF", "#B10DC9"]
                },
                {
                    label: 'Crowns',
                    data: @Html.Raw(Json.Serialize(ViewBag.crowns)),
                    backgroundColor: ["#0074D9", "#FF4136", "#2ECC40", "#FF851B", "#7FDBFF", "#B10DC9"]
                },
            ]
        };
        const config = {
            type: 'doughnut',
            data: data,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Duolingo XP and Crowns earned by language'
                    }
                }
            },
        };
        var myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>
}
<div class="text-center">

    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div>
        <canvas id="myChart"></canvas>
    </div>
</div>
